.cross-center{
  @include cross-center();
}
.cross-center-grid{
  @include cross-center(false);
}


.btn-bars{
  $size: 30px;
  $h-bar: $size / 7;
  position: relative;
  width: $size;
  height: $size;
  background-color: white;
  color: white;
  margin-left: auto;
  cursor: pointer;


  &::before,
  &::after{
    transition:  all linear .3s;
    content: "";
    position: absolute;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    height: $h-bar ;
    background: black;
    border-radius: 5px;
  }

  &::before{top: $h-bar;box-shadow: 0 $h-bar*2 0 black;}
  &::after{top: $h-bar*5;}

  &.active{
    &::before,
    &::after{
      top: 50%;
      left: 10%;
      transform: translateY(-50%) translateX(-50%);
      box-shadow: none;
    }

    &::before{
      transform: rotate(45deg);
    }

    &::after{
      transform: rotate(-45deg);
    }
  }


  @include media-breakpoint-up(md){
    display: none;
  }
}

.input-icon{
  position: relative;

  .form-control:has( ~ [class*='fa-']){
    padding-left: 32px;

    & ~ [class*='fa-']{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 30px;
      @include  cross-center()
    }
  }
  input{
    border: 0;
  }
}


.menu-social{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  @include media-breakpoint-down(md){
    right: 1rem;
    gap: 5px;
    a{
      transform: scale(.6);
    }
  }
  a{
    padding: .5rem;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: var(--color, red);
    text-decoration: none;
    color: white;
    @include cross-center();
    &:has(.fa-instagram){

      --color: linear-gradient(45deg, #fd622d, #e518a0);
    }
    &:has(.fa-whatsapp){
      --color: #00a784;
    }
  }


}